# Лабораторная работа 1

## Pandas

Выполнил: 6133-010402D, Коршиков Владислав Игоревич

## Импортируем DataFrame, содержащий все машины из Gran Turismo 6

1 Импортируем DataFrame, содержащий все машины из Gran Turismo 6

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd

In [3]:
gran_turismo = pd.read_csv("/content/drive/MyDrive/gran_turismo_gt6.csv")

In [4]:
gran_turismo.head()

,brand,model,car_type,img_url,price,drive,hp,weight,torque,w_kg
0,AC Cars,427 S/C '66,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,423200.0,FR,478.0,1311.0,651.0,272 to ? W/Kg
1,AEM,S2000,Tuned,https://www.kudosprime.com/gt6/images/cars/gt6...,100000.0,FR,430.0,1155.0,495.0,278 to 345 W/Kg
2,Abarth,1500 Biposto Bertone B.A.T 1 '52,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,3500000.0,FR,72.0,870.0,NaN,62 to 250 W/Kg
3,Abarth,500 '09,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,29500.0,FF,133.0,1035.0,180.0,96 to 251 W/Kg
4,Abarth,Grande Punto '09,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,27000.0,FF,153.0,1240.0,230.0,92 to ? W/Kg

Целевым значением для датафрейма является car_type, который разделяет датасет на два кластера street(уличные гонки) и race(трековые гонки), для машин, класс которых определить невозможно, ставится маркер tuned.
Датасет можно найти здесь: https://www.kaggle.com/prasertk/gran-turismo-6-cars/version/1

In [5]:
#опишем данные
#они содержат два типа данных категориальный(представлен object) и вещественный (представлен float64). Большая часть объектов имеют тип object.
datatypes = gran_turismo.dtypes
print(datatypes)

brand        object
model        object
car_type     object
img_url      object
price       float64
drive        object
hp          float64
weight      float64
torque      float64
w_kg         object
dtype: object

In [6]:
# Некоторые данные в выборке отсутствуют
gran_turismo.isnull().sum()

brand         0
model         0
car_type      0
img_url       0
price         5
drive         2
hp           43
weight       57
torque      224
w_kg          0
dtype: int64

## 2. Выполните с датафреймом следующие операции (многие операции можно совершить не одним способом, используйте все известные вам способы, поищите/придумайте новые способы) :

In [7]:
#2.1 вывод таблицы
gran_turismo

,brand,model,car_type,img_url,price,drive,hp,weight,torque,w_kg
0,AC Cars,427 S/C '66,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,423200.0,FR,478.0,1311.0,651.0,272 to ? W/Kg
1,AEM,S2000,Tuned,https://www.kudosprime.com/gt6/images/cars/gt6...,100000.0,FR,430.0,1155.0,495.0,278 to 345 W/Kg
2,Abarth,1500 Biposto Bertone B.A.T 1 '52,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,3500000.0,FR,72.0,870.0,NaN,62 to 250 W/Kg
3,Abarth,500 '09,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,29500.0,FF,133.0,1035.0,180.0,96 to 251 W/Kg
4,Abarth,Grande Punto '09,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,27000.0,FF,153.0,1240.0,230.0,92 to ? W/Kg
...,...,...,...,...,...,...,...,...,...,...
1265,Volkswagen,Scirocco R '10,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,51500.0,FF,252.0,1410.0,330.0,133 to 298 W/Kg
1266,Volkswagen,W12 Nardo '01,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,1250000.0,MR,574.0,1300.0,620.0,329 to ? W/Kg
1267,Volvo,240 GLT Estate '88,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,15920.0,FR,127.0,1890.0,190.0,50 to ? W/Kg
1268,Volvo,C30 R-Design '09,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,42000.0,FF,227.0,1430.0,319.0,118 to ? W/Kg
1269,Volvo,S60 T-5 Sport '03,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,35580.0,FF,246.0,1550.0,330.0,119 to ? W/Kg

In [8]:
#2.2 выводим первые n(7) элементов таблицы двумя способами
gran_turismo[:7]

,brand,model,car_type,img_url,price,drive,hp,weight,torque,w_kg
0,AC Cars,427 S/C '66,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,423200.0,FR,478.0,1311.0,651.0,272 to ? W/Kg
1,AEM,S2000,Tuned,https://www.kudosprime.com/gt6/images/cars/gt6...,100000.0,FR,430.0,1155.0,495.0,278 to 345 W/Kg
2,Abarth,1500 Biposto Bertone B.A.T 1 '52,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,3500000.0,FR,72.0,870.0,NaN,62 to 250 W/Kg
3,Abarth,500 '09,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,29500.0,FF,133.0,1035.0,180.0,96 to 251 W/Kg
4,Abarth,Grande Punto '09,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,27000.0,FF,153.0,1240.0,230.0,92 to ? W/Kg
5,Acura,CL 3.2 Type-S '01,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,32180.0,FF,260.0,1592.0,315.0,122 to ? W/Kg
6,Acura,CL 3.2 Type-S '03,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,32420.0,FF,260.0,1563.0,314.0,124 to 251 W/Kg

In [9]:
gran_turismo.head(7)

,brand,model,car_type,img_url,price,drive,hp,weight,torque,w_kg
0,AC Cars,427 S/C '66,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,423200.0,FR,478.0,1311.0,651.0,272 to ? W/Kg
1,AEM,S2000,Tuned,https://www.kudosprime.com/gt6/images/cars/gt6...,100000.0,FR,430.0,1155.0,495.0,278 to 345 W/Kg
2,Abarth,1500 Biposto Bertone B.A.T 1 '52,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,3500000.0,FR,72.0,870.0,NaN,62 to 250 W/Kg
3,Abarth,500 '09,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,29500.0,FF,133.0,1035.0,180.0,96 to 251 W/Kg
4,Abarth,Grande Punto '09,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,27000.0,FF,153.0,1240.0,230.0,92 to ? W/Kg
5,Acura,CL 3.2 Type-S '01,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,32180.0,FF,260.0,1592.0,315.0,122 to ? W/Kg
6,Acura,CL 3.2 Type-S '03,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,32420.0,FF,260.0,1563.0,314.0,124 to 251 W/Kg

In [10]:
#2.3 выведем последние n(7) элементов таблицы двумя способами
gran_turismo.tail(7)

,brand,model,car_type,img_url,price,drive,hp,weight,torque,w_kg
1263,Volkswagen,Scirocco GT24 15th Anniversary Edition,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,450000.0,FF,394.0,1120.0,NaN,263 to 376 W/Kg
1264,Volkswagen,Scirocco GT24 Base Model '08,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,420000.0,FF,320.0,1120.0,340.0,213 to ? W/Kg
1265,Volkswagen,Scirocco R '10,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,51500.0,FF,252.0,1410.0,330.0,133 to 298 W/Kg
1266,Volkswagen,W12 Nardo '01,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,1250000.0,MR,574.0,1300.0,620.0,329 to ? W/Kg
1267,Volvo,240 GLT Estate '88,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,15920.0,FR,127.0,1890.0,190.0,50 to ? W/Kg
1268,Volvo,C30 R-Design '09,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,42000.0,FF,227.0,1430.0,319.0,118 to ? W/Kg
1269,Volvo,S60 T-5 Sport '03,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,35580.0,FF,246.0,1550.0,330.0,119 to ? W/Kg

In [11]:
gran_turismo[-7:]

,brand,model,car_type,img_url,price,drive,hp,weight,torque,w_kg
1263,Volkswagen,Scirocco GT24 15th Anniversary Edition,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,450000.0,FF,394.0,1120.0,NaN,263 to 376 W/Kg
1264,Volkswagen,Scirocco GT24 Base Model '08,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,420000.0,FF,320.0,1120.0,340.0,213 to ? W/Kg
1265,Volkswagen,Scirocco R '10,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,51500.0,FF,252.0,1410.0,330.0,133 to 298 W/Kg
1266,Volkswagen,W12 Nardo '01,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,1250000.0,MR,574.0,1300.0,620.0,329 to ? W/Kg
1267,Volvo,240 GLT Estate '88,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,15920.0,FR,127.0,1890.0,190.0,50 to ? W/Kg
1268,Volvo,C30 R-Design '09,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,42000.0,FF,227.0,1430.0,319.0,118 to ? W/Kg
1269,Volvo,S60 T-5 Sport '03,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,35580.0,FF,246.0,1550.0,330.0,119 to ? W/Kg

In [12]:
#2.4 применим метод .describe()
gran_turismo.describe()

              price           hp       weight       torque
count  1.265000e+03  1227.000000  1213.000000  1046.000000
mean   4.599464e+05   311.413203  1223.604287   362.771511
std    1.597771e+06   193.016438   324.001464   219.297234
min    5.000000e+03    12.000000    63.000000    12.000000
25%    2.909000e+04   173.000000  1035.000000   192.000000
50%    5.900000e+04   276.000000  1230.000000   319.000000
75%    3.750000e+05   444.000000  1438.000000   490.000000
max    2.000000e+07  1509.000000  3500.000000  2033.000000

In [14]:
#2.5 считывание значения конкретной ячейки (с конкретным индексом из конкретной колонки: model, 7) всеми известными вам способами
print(gran_turismo['model'][7])
print(gran_turismo.get('model')[7])
print(gran_turismo.loc[7]['model'])
print(gran_turismo.iloc[7]['model'])

DN-X '02
DN-X '02
DN-X '02
DN-X '02

In [15]:
#2.6 фильтрация строк по диапазону индекса 12-18
gran_turismo[12:18]

,brand,model,car_type,img_url,price,drive,hp,weight,torque,w_kg
12,Acura,NSX CONCEPT '13,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,1000000.0,4WD,NaN,NaN,NaN,? to ? W/Kg
13,Acura,NSX Coupe '97,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,89130.0,MR,290.0,1392.0,304.0,155 to ? W/Kg
14,Acura,NSX LM Race Car '91,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,205000.0,MR,363.0,1045.0,NaN,259 to 312 W/Kg
15,Acura,RSX Type-S '04,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,24740.0,FF,200.0,1255.0,192.0,119 to ? W/Kg
16,Alfa Romeo,147 2.0 TWIN SPARK '02,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,30590.0,FF,148.0,1280.0,181.0,86 to ? W/Kg
17,Alfa Romeo,147 GTA '02,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,48040.0,FF,246.0,1360.0,300.0,135 to 278 W/Kg

In [16]:
#2.7 фильтрация набора данных по какому-либо условию
gran_turismo_bmw = gran_turismo.loc[(gran_turismo['brand'] == 'BMW') & (gran_turismo['price'] > 70000), ['car_type', 'drive', 'weight']]
gran_turismo_bmw

    car_type drive  weight
107     Race    FR  1140.0
109   Street    FR  1240.0
111     Race    FR  1245.0
112   Street    FR  1465.0
113   Street    FR  1570.0
114   Street    FR  1385.0
115   Street    FR  1655.0
116   Street    FR  1625.0
117     Race    FR  1245.0
118     Race    FR  1245.0
119   Street    FR  1350.0
120     Race    FR  1120.0
121   Street    FR  1497.0
122   Street    FR  1497.0
123   Street    FR  1715.0
124   Street    FR  1855.0
125     Race    MR   950.0
126     Race    MR   900.0
127     Race    FR  1180.0
129     Race    FR  1190.0
131   Street    FR  1610.0
132   Street    FR  1580.0

In [36]:
#2.8. Удалим пустые значения и проверим успешность удаления: 
gran_turismo_2=gran_turismo
gran_turismo_new=gran_turismo_2.dropna(axis=0)
gran_turismo_new.isnull().sum()

brand       0
model       0
car_type    0
img_url     0
price       0
drive       0
hp          0
weight      0
torque      0
w_kg        0
dtype: int64

In [37]:
gran_turismo_new

,brand,model,car_type,img_url,price,drive,hp,weight,torque,w_kg
0,AC Cars,427 S/C '66,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,423200.0,FR,478.0,1311.0,651.0,272 to ? W/Kg
1,AEM,S2000,Tuned,https://www.kudosprime.com/gt6/images/cars/gt6...,100000.0,FR,430.0,1155.0,495.0,278 to 345 W/Kg
3,Abarth,500 '09,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,29500.0,FF,133.0,1035.0,180.0,96 to 251 W/Kg
4,Abarth,Grande Punto '09,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,27000.0,FF,153.0,1240.0,230.0,92 to ? W/Kg
5,Acura,CL 3.2 Type-S '01,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,32180.0,FF,260.0,1592.0,315.0,122 to ? W/Kg
...,...,...,...,...,...,...,...,...,...,...
1265,Volkswagen,Scirocco R '10,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,51500.0,FF,252.0,1410.0,330.0,133 to 298 W/Kg
1266,Volkswagen,W12 Nardo '01,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,1250000.0,MR,574.0,1300.0,620.0,329 to ? W/Kg
1267,Volvo,240 GLT Estate '88,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,15920.0,FR,127.0,1890.0,190.0,50 to ? W/Kg
1268,Volvo,C30 R-Design '09,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,42000.0,FF,227.0,1430.0,319.0,118 to ? W/Kg
1269,Volvo,S60 T-5 Sport '03,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,35580.0,FF,246.0,1550.0,330.0,119 to ? W/Kg

In [38]:
#2.9. создание нового поля вычисленного на основе значений других полей:

In [43]:
# 2.9.1 через выражение на базе имеющихся колонок,
# Попробуем представить вес машины(weight) в фунтах(weight_f).
gran_turismo_new_2 = gran_turismo_new.assign(weight_f = gran_turismo_new.weight * 2.2)

In [44]:
gran_turismo_new_2

,brand,model,car_type,img_url,price,drive,hp,weight,torque,w_kg,weight_f
0,AC Cars,427 S/C '66,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,423200.0,FR,478.0,1311.0,651.0,272 to ? W/Kg,2884.2
1,AEM,S2000,Tuned,https://www.kudosprime.com/gt6/images/cars/gt6...,100000.0,FR,430.0,1155.0,495.0,278 to 345 W/Kg,2541.0
3,Abarth,500 '09,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,29500.0,FF,133.0,1035.0,180.0,96 to 251 W/Kg,2277.0
4,Abarth,Grande Punto '09,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,27000.0,FF,153.0,1240.0,230.0,92 to ? W/Kg,2728.0
5,Acura,CL 3.2 Type-S '01,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,32180.0,FF,260.0,1592.0,315.0,122 to ? W/Kg,3502.4
...,...,...,...,...,...,...,...,...,...,...,...
1265,Volkswagen,Scirocco R '10,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,51500.0,FF,252.0,1410.0,330.0,133 to 298 W/Kg,3102.0
1266,Volkswagen,W12 Nardo '01,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,1250000.0,MR,574.0,1300.0,620.0,329 to ? W/Kg,2860.0
1267,Volvo,240 GLT Estate '88,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,15920.0,FR,127.0,1890.0,190.0,50 to ? W/Kg,4158.0
1268,Volvo,C30 R-Design '09,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,42000.0,FF,227.0,1430.0,319.0,118 to ? W/Kg,3146.0
1269,Volvo,S60 T-5 Sport '03,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,35580.0,FF,246.0,1550.0,330.0,119 to ? W/Kg,3410.0

In [51]:
#2.9.2 через DataFrame.apply Найдём соотношение веса к хитпоинтам

gtr = gran_turismo_new.copy()
gtr.drop(["brand", "model", "car_type", "img_url", "price", "drive",	"torque",	"w_kg"], axis=1, inplace=True)

In [52]:
gtr

         hp  weight
0     478.0  1311.0
1     430.0  1155.0
3     133.0  1035.0
4     153.0  1240.0
5     260.0  1592.0
...     ...     ...
1265  252.0  1410.0
1266  574.0  1300.0
1267  127.0  1890.0
1268  227.0  1430.0
1269  246.0  1550.0

[1031 rows x 2 columns]

In [57]:
gtr.apply(np.sum, axis=0)

hp         302447.0
weight    1285929.0
dtype: float64

In [98]:
#2.9.3 через Series.apply
gtr_2 = gran_turismo_price.copy()
gtr_2['weight_f'] = gtr_2['weight'].apply(lambda x: round(2.2*gran_turismo_price['weight'].mean(),0))

In [99]:
gtr_2

,brand,model,car_type,img_url,price,drive,hp,weight,torque,w_kg,weight_f
0,Daihatsu,Midget II D type '98,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,5740.0,FR,31.0,570.0,50.0,40 to 192 W/Kg,2744.0
1,Honda,TODAY G '85,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,6700.0,FF,31.0,550.0,43.0,42 to ? W/Kg,2744.0
2,Honda,LIFE STEP VAN '72,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,8800.0,FF,30.0,605.0,28.0,36 to ? W/Kg,2744.0
3,Mitsubishi,MIRAGE 1400GLX '78,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,9220.0,FF,78.0,795.0,119.0,73 to ? W/Kg,2744.0
4,Honda,CIVIC 1500 3door CX '79,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,9570.0,FF,84.0,780.0,121.0,81 to ? W/Kg,2744.0
...,...,...,...,...,...,...,...,...,...,...,...
1026,Ford,Mark IV Race Car '67,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,MR,489.0,1000.0,637.0,365 to ? W/Kg,2744.0
1027,Ferrari,330 P4 '67,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,MR,435.0,792.0,522.0,409 to 644 W/Kg,2744.0
1028,Jaguar,XJ13 Chrome Line,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,MR,506.0,975.0,534.0,387 to ? W/Kg,2744.0
1029,Ford,GT40 Race Car '69,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,MR,493.0,998.0,588.0,369 to ? W/Kg,2744.0
1030,Jaguar,XJ13 '66,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,MR,495.0,998.0,523.0,370 to ? W/Kg,2744.0

In [100]:
#2.10 сортировка по какому-либо из полей
gran_turismo_new.sort_values('price')

,brand,model,car_type,img_url,price,drive,hp,weight,torque,w_kg
220,Daihatsu,Midget II D type '98,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,5740.0,FR,31.0,570.0,50.0,40 to 192 W/Kg
432,Honda,TODAY G '85,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,6700.0,FF,31.0,550.0,43.0,42 to ? W/Kg
375,Honda,LIFE STEP VAN '72,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,8800.0,FF,30.0,605.0,28.0,36 to ? W/Kg
761,Mitsubishi,MIRAGE 1400GLX '78,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,9220.0,FF,78.0,795.0,119.0,73 to ? W/Kg
338,Honda,CIVIC 1500 3door CX '79,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,9570.0,FF,84.0,780.0,121.0,81 to ? W/Kg
...,...,...,...,...,...,...,...,...,...,...
286,Ford,Mark IV Race Car '67,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,MR,489.0,1000.0,637.0,365 to ? W/Kg
238,Ferrari,330 P4 '67,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,MR,435.0,792.0,522.0,409 to 644 W/Kg
461,Jaguar,XJ13 Chrome Line,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,MR,506.0,975.0,534.0,387 to ? W/Kg
284,Ford,GT40 Race Car '69,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,MR,493.0,998.0,588.0,369 to ? W/Kg
460,Jaguar,XJ13 '66,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,MR,495.0,998.0,523.0,370 to ? W/Kg

In [101]:
#2.11 вычислить несколько статистик по колонкам (используйте встроенные агрегатные функции — любые на выбор)
gran_turismo_new.groupby(['brand'])[['price','hp']].agg(['min', 'max', 'mean'])

               price                               hp
                 min        max           mean    min    max        mean
brand
AC Cars     423200.0   423200.0  423200.000000  478.0  478.0  478.000000
AEM         100000.0   100000.0  100000.000000  430.0  430.0  430.000000
Abarth       27000.0    29500.0   28250.000000  133.0  153.0  143.000000
Acura        24740.0    94440.0   54121.428571  195.0  290.0  252.142857
Alfa Romeo   28500.0  1250000.0  170436.250000  108.0  582.0  235.312500
...              ...        ...            ...    ...    ...         ...
Toyota        9800.0  1950000.0  180108.441558   44.0  789.0  221.402597
Triumph      17200.0    17200.0   17200.000000   71.0   71.0   71.000000
Vauxhall     17960.0  1250000.0  346838.571429   89.0  454.0  235.428571
Volkswagen   15000.0  1250000.0  166010.869565   25.0  574.0  190.478261
Volvo        15920.0    42000.0   31166.666667  127.0  246.0  200.000000

[103 rows x 6 columns]

In [102]:
#2.12 .value_counts()  #return Series
print(gran_turismo_new['hp'].value_counts(sort=True))
print(gran_turismo_new[['price','brand']].value_counts(sort=True))

276.0    119
246.0     31
493.0     22
63.0      22
197.0     22
        ...
601.0      1
74.0       1
435.0      1
389.0      1
127.0      1
Name: hp, Length: 323, dtype: int64
price     brand
950000.0  Nissan        8
750000.0  Nissan        8
29980.0   Mitsubishi    7
750000.0  Honda         6
18980.0   Mazda         5
                       ..
38860.0   MG            1
38900.0   Isuzu         1
16000.0   Scion         1
38910.0   Volkswagen    1
5740.0    Daihatsu      1
Length: 821, dtype: int64

In [103]:
#2.13 Вывод уникальных значений колонки через .unique()
gran_turismo['brand'].unique()

array(['AC Cars', 'AEM', 'Abarth', 'Acura', 'Alfa Romeo', 'Alpine',
       'Amuse', 'Art Morrison', 'Aston Martin', 'Audi', 'Autobacs',
       'Autobianchi', 'Ayrton Senna', 'BLITZ', 'BMW', 'Bentley',
       'Bugatti', 'Buick', 'Cadillac', 'Callaway', 'Caterham',
       'Chaparral', 'Chevrolet', 'Chrysler', 'Citroën', 'Cizeta', 'DMC',
       'Daihatsu', 'DeltaWing', 'Dodge', 'Dome', 'Eagle', 'Ferrari',
       'Fiat', 'Fisker', 'Ford', 'Gillet', 'Gran Turismo',
       'Grand Touring Garage', 'HKS', 'HPA Motorsports',
       'High End Performance', 'Holden', 'Hommell', 'Honda', 'Hudson',
       'Hyundai', 'Infiniti', 'Isuzu', 'Jaguar', 'Jay leno', 'KTM',
       'Lamborghini', 'Lancia', 'Land Rover', 'Lexus',
       'Light Car Company', 'Lister', 'Lotus', 'MG', 'MINI', 'Marcos',
       'Maserati', 'Mazda', 'McLaren', 'Mercedes-Benz', 'Mercury',
       "Mine's", 'Mitsubishi', 'Monster Sport', 'Mugen', 'NISMO',
       'Nissan', 'Opel', 'Opera Performance', 'Oullim Motors', 'Pagani',
       'Panoz', 'Pescarolo', 'Peugeot', 'Plymouth', 'Pontiac',
       'Pozzi Motorsports', 'RE Amemiya', 'RUF', 'Ram', 'Renault Sport',
       'Renault', 'SRT', 'Saleen', 'Scion', 'Seat', 'Shelby', 'Spoon',
       'Spyker', 'Stielow Engineering', 'Subaru', 'Suzuki', 'TRD',
       'TRIAL', 'TVR', 'Tajima', 'Tesla Motors', "Tom's", 'Tommykaira',
       'Toyota', 'Triumph', 'Vauxhall', 'Volkswagen', 'Volvo'],
      dtype=object)

In [104]:
#2.14 Удалите текущий индекс и создайте новый индекс на базе новой колонки, которая для этого лучше всего подходит
gran_turismo_price = gran_turismo_new.sort_values('price').reset_index()
del gran_turismo_price['index']
gran_turismo_price

,brand,model,car_type,img_url,price,drive,hp,weight,torque,w_kg
0,Daihatsu,Midget II D type '98,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,5740.0,FR,31.0,570.0,50.0,40 to 192 W/Kg
1,Honda,TODAY G '85,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,6700.0,FF,31.0,550.0,43.0,42 to ? W/Kg
2,Honda,LIFE STEP VAN '72,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,8800.0,FF,30.0,605.0,28.0,36 to ? W/Kg
3,Mitsubishi,MIRAGE 1400GLX '78,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,9220.0,FF,78.0,795.0,119.0,73 to ? W/Kg
4,Honda,CIVIC 1500 3door CX '79,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,9570.0,FF,84.0,780.0,121.0,81 to ? W/Kg
...,...,...,...,...,...,...,...,...,...,...
1026,Ford,Mark IV Race Car '67,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,MR,489.0,1000.0,637.0,365 to ? W/Kg
1027,Ferrari,330 P4 '67,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,MR,435.0,792.0,522.0,409 to 644 W/Kg
1028,Jaguar,XJ13 Chrome Line,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,MR,506.0,975.0,534.0,387 to ? W/Kg
1029,Ford,GT40 Race Car '69,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,MR,493.0,998.0,588.0,369 to ? W/Kg
1030,Jaguar,XJ13 '66,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,MR,495.0,998.0,523.0,370 to ? W/Kg

3 Продемонстрировать работу .groupby, на основе группировок в groupby вычисляете агрегатные функции по одной или нескольким колонкам. Какую информацию о данных вы получили, выполнив данную операцию? Запишите ответ в комментариях.

In [105]:
#Видим, что среднее значение price сильно влияет на значение hp
print(gran_turismo_price.groupby('price')['hp'].mean())

price
5740.0          31.0
6700.0          31.0
8800.0          30.0
9220.0          78.0
9570.0          84.0
               ...
3750000.0      420.0
4500000.0      374.0
6000000.0     1193.0
15000000.0     339.0
20000000.0     483.6
Name: hp, Length: 582, dtype: float64

4 Решейпинг данных 1Dto2D с помощью .pivot (можно подать на вход результаты агрегатов, полученных ранее через .groupby (сгруппировать по двум полям), либо прекрасно заходит сюда данные из SQL сгруппированные предварительно по 2-м полям). Какую информацию о данных вы получили, выполнив данную операцию? Запишите ответ в комментариях.

In [106]:
#Дадим характеристику автомобилей, принадлежащих различным типам. В силу того, что большинство машин имеют тип street, в таблице отображается только она
gran_turismo_price_2 = gran_turismo_price.pivot_table(index='car_type', columns='model')
gran_turismo_price_2

                     hp                                                \
model    106 Rallye '03 106 S16 '03 11 OS (L10A) '67 11 OS (L10B) '68
car_type
Race                NaN         NaN              NaN              NaN
Street            102.0       116.0            108.0            126.0
Tuned               NaN         NaN              NaN              NaN

                                                                      \
model    117 COUPE '68 1200 '66 120d '04 120i '04 1300 Coupe 9 S '70
car_type
Race               NaN      NaN      NaN      NaN                NaN
Street           118.0     34.0    161.0    148.0              108.0
Tuned              NaN      NaN      NaN      NaN                NaN

                         ...  weight                                     \
model    135i Coupé '07  ...  xA '03  xB '03 éfini RX-7 Type R (FD) '91
car_type                 ...
Race                NaN  ...     NaN     NaN                        NaN
Street            302.0  ...  1020.0  1040.0                     1260.0
Tuned               NaN  ...     NaN     NaN                        NaN

                                                                  \
model    éfini RX-7 Type R (FD) '93 éfini RX-7 Type R-S (FD) '95
car_type
Race                            NaN                          NaN
Street                       1260.0                       1260.0
Tuned                           NaN                          NaN

                                                                  \
model    éfini RX-7 Type RS (FD) '96 éfini RX-7 Type RZ (FD) '92
car_type
Race                             NaN                         NaN
Street                        1280.0                      1230.0
Tuned                            NaN                         NaN

                                                                  \
model    éfini RX-7 Type RZ (FD) '93 éfini RX-7 Type RZ (FD) '95
car_type
Race                             NaN                         NaN
Street                        1240.0                      1250.0
Tuned                            NaN                         NaN


model    éfini RX-7 Type RZ (FD) '96
car_type
Race                             NaN
Street                        1250.0
Tuned                            NaN

[3 rows x 4112 columns]

In [107]:
gran_turismo_price_2.keys()

MultiIndex([(    'hp',               '106 Rallye '03'),
            (    'hp',                  '106 S16 '03'),
            (    'hp',             '11 OS (L10A) '67'),
            (    'hp',             '11 OS (L10B) '68'),
            (    'hp',                '117 COUPE '68'),
            (    'hp',                     '1200 '66'),
            (    'hp',                     '120d '04'),
            (    'hp',                     '120i '04'),
            (    'hp',           '1300 Coupe 9 S '70'),
            (    'hp',               '135i Coupé '07'),
            ...
            ('weight',                       'xA '03'),
            ('weight',                       'xB '03'),
            ('weight',   'éfini RX-7 Type R (FD) '91'),
            ('weight',   'éfini RX-7 Type R (FD) '93'),
            ('weight', 'éfini RX-7 Type R-S (FD) '95'),
            ('weight',  'éfini RX-7 Type RS (FD) '96'),
            ('weight',  'éfini RX-7 Type RZ (FD) '92'),
            ('weight',  'éfini RX-7 Type RZ (FD) '93'),
            ('weight',  'éfini RX-7 Type RZ (FD) '95'),
            ('weight',  'éfini RX-7 Type RZ (FD) '96')],
           names=[None, 'model'], length=4112)

In [108]:
gran_turismo_price_2.index

Index(['Race', 'Street', 'Tuned'], dtype='object', name='car_type')

5 Решейпинг 1Dto2D данных соединённый с группировкой / агрегацией (одним словом — сводная таблица): .pivot_table. Группируем только по категориальным полям или числовым, если уверены, что значений немного! Если значений много, можете вначале из загрубить (см. (2.9.) либо (7)).
Перед тем как выполнять задание сформулируйте вопрос, на который собираетесь получить ответ с помощью сводной таблицы. Запишите этот вопрос в комментариях. Какую информацию о данных вы в результате получили?
https://pbpython.com/pandas-pivot-table-explained.html

In [112]:
#Как отличается цена на машины разных типов в зависимости от производителя?
#Мы получили следующие материалы, отображение которых не совсем корректно ввиду особенностей датасета
gran_turismo_new_5 = gran_turismo_new.pivot_table(index='brand', columns='car_type', values=['price'],
                       aggfunc='mean')
gran_turismo_new_5

                   price
car_type            Race         Street     Tuned
brand
AC Cars              NaN  423200.000000       NaN
AEM                  NaN            NaN  100000.0
Abarth               NaN   28250.000000       NaN
Acura                NaN   54121.428571       NaN
Alfa Romeo  1.250000e+06   98465.333333       NaN
...                  ...            ...       ...
Toyota      7.234118e+05   26172.500000       NaN
Triumph              NaN   17200.000000       NaN
Vauxhall    1.125000e+06   35574.000000       NaN
Volkswagen  3.208333e+05  111367.647059       NaN
Volvo                NaN   31166.666667       NaN

[103 rows x 3 columns]

6 Посчитать квантили распределения какого-либо вещественного признака (с помощью numpy.quantile или numpy.percentile)

In [113]:
np.quantile(gran_turismo_new['price'], q=.5)

44200.0


7 Посчитать гистограмму какого-либо вещественного признака (с помощью numpy.histogram). Значения гистограммы можете использовать как вариант в качестве загрубленного числового признака для заданий (4) или (5).

In [114]:
np.histogram(gran_turismo_price['price'])

(array([1015,    8,    2,    0,    0,    0,    0,    1,    0,    5]),
 array([5.7400000e+03, 2.0051660e+06, 4.0045920e+06, 6.0040180e+06,
        8.0034440e+06, 1.0002870e+07, 1.2002296e+07, 1.4001722e+07,
        1.6001148e+07, 1.8000574e+07, 2.0000000e+07]))


8 Получить DataFrame с MultiIndex любым способом: через конструктор (в документации увидите множество видов конструкторов для создания MultiIndex с нуля), через read_sql / read_csv / read_excel, read_*, через pivot_table, через groupby или иными способами.

In [115]:
gran_turismo_new_6 = gran_turismo_price.groupby(by=['weight', 'torque']).max()
gran_turismo_new_6

,,brand,model,car_type,img_url,price,drive,hp,w_kg
weight,torque,,,,,,,,
63.0,12.0,Ayrton Senna,DAP Racing Kart #17 '80,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,100000.0,MR,30.0,349 to 349 W/Kg
369.0,122.0,Caterham,Seven Fireblade '02,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,60000.0,FR,138.0,279 to 552 W/Kg
385.0,29.0,Subaru,360 '58,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,36000.0,RR,15.0,29 to ? W/Kg
390.0,118.0,Light Car Company,Rocket '07,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,100000.0,MR,167.0,318 to 674 W/Kg
455.0,216.0,Ayrton Senna,"West Surrey Racing, 1983 Ayrton Senna",Race,https://www.kudosprime.com/gt6/images/cars/gt6...,1000000.0,MR,165.0,270 to 284 W/Kg
...,...,...,...,...,...,...,...,...,...
2248.0,440.0,Chevrolet,SSR '03,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,44560.0,FR,290.0,96 to ? W/Kg
2268.0,644.0,Chevrolet,Silverado SST '02,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,95000.0,FR,480.0,158 to ? W/Kg
2390.0,508.0,Ram,1500 LARAMIE Hemi Quad Cab '04,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,37930.0,4WD,345.0,108 to ? W/Kg
2404.0,1300.0,Fisker,Karma EcoSport '12,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,138000.0,RR,386.0,120 to 166 W/Kg
3500.0,2033.0,Jay leno,Tank Car '03,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,1900000.0,FR,861.0,183 to 199 W/Kg

9 Переставить местами уровни индекса

In [116]:
gran_turismo_new_6.swaplevel(i=0 , j=1).sort_index()

                      brand                       model car_type  \
torque weight
12.0   63.0    Ayrton Senna     DAP Racing Kart #17 '80     Race
24.0   560.0          Mazda        Carol 360 Deluxe '62   Street
28.0   605.0          Honda           LIFE STEP VAN '72   Street
29.0   385.0         Subaru                     360 '58   Street
       475.0          Honda                    N360 '67   Street
...                     ...                         ...      ...
1200.0 930.0        Peugeot  908 HDi FAP Base Model '10     Race
1254.0 1888.0       Bugatti             Veyron 16.4 '13   Street
1300.0 2404.0        Fisker          Karma EcoSport '12   Street
1356.0 1851.0      Jay leno    1966 Oldsmobile Toronado    Tuned
2033.0 3500.0      Jay leno                Tank Car '03   Street

                                                         img_url      price  \
torque weight
12.0   63.0    https://www.kudosprime.com/gt6/images/cars/gt6...   100000.0
24.0   560.0   https://www.kudosprime.com/gt6/images/cars/gt6...    38500.0
28.0   605.0   https://www.kudosprime.com/gt6/images/cars/gt6...     8800.0
29.0   385.0   https://www.kudosprime.com/gt6/images/cars/gt6...    36000.0
       475.0   https://www.kudosprime.com/gt6/images/cars/gt6...    36000.0
...                                                          ...        ...
1200.0 930.0   https://www.kudosprime.com/gt6/images/cars/gt6...  1900000.0
1254.0 1888.0  https://www.kudosprime.com/gt6/images/cars/gt6...  2000000.0
1300.0 2404.0  https://www.kudosprime.com/gt6/images/cars/gt6...   138000.0
1356.0 1851.0  https://www.kudosprime.com/gt6/images/cars/gt6...  1000000.0
2033.0 3500.0  https://www.kudosprime.com/gt6/images/cars/gt6...  1900000.0

              drive      hp             w_kg
torque weight
12.0   63.0      MR    30.0  349 to 349 W/Kg
24.0   560.0     RR    20.0     27 to ? W/Kg
28.0   605.0     FF    30.0     36 to ? W/Kg
29.0   385.0     RR    15.0     29 to ? W/Kg
       475.0     FF    31.0     48 to ? W/Kg
...             ...     ...              ...
1200.0 930.0     MR   700.0    561 to ? W/Kg
1254.0 1888.0   4WD   956.0    378 to ? W/Kg
1300.0 2404.0    RR   386.0  120 to 166 W/Kg
1356.0 1851.0    FR  1038.0    418 to ? W/Kg
2033.0 3500.0    FR   861.0  183 to 199 W/Kg

[766 rows x 8 columns]

10 Транспонировать таблицу (или создать новую другую) с MultiIndex

In [117]:
gran_turismo_new_6.T

weight                                               63.0    \
torque                                               12.0
brand                                          Ayrton Senna
model                               DAP Racing Kart #17 '80
car_type                                               Race
img_url   https://www.kudosprime.com/gt6/images/cars/gt6...
price                                              100000.0
drive                                                    MR
hp                                                     30.0
w_kg                                        349 to 349 W/Kg

weight                                               369.0   \
torque                                               122.0
brand                                              Caterham
model                                   Seven Fireblade '02
car_type                                             Street
img_url   https://www.kudosprime.com/gt6/images/cars/gt6...
price                                               60000.0
drive                                                    FR
hp                                                    138.0
w_kg                                        279 to 552 W/Kg

weight                                               385.0   \
torque                                               29.0
brand                                                Subaru
model                                               360 '58
car_type                                             Street
img_url   https://www.kudosprime.com/gt6/images/cars/gt6...
price                                               36000.0
drive                                                    RR
hp                                                     15.0
w_kg                                           29 to ? W/Kg

weight                                               390.0   \
torque                                               118.0
brand                                     Light Car Company
model                                            Rocket '07
car_type                                             Street
img_url   https://www.kudosprime.com/gt6/images/cars/gt6...
price                                              100000.0
drive                                                    MR
hp                                                    167.0
w_kg                                        318 to 674 W/Kg

weight                                               455.0   \
torque                                               216.0
brand                                          Ayrton Senna
model                 West Surrey Racing, 1983 Ayrton Senna
car_type                                               Race
img_url   https://www.kudosprime.com/gt6/images/cars/gt6...
price                                             1000000.0
drive                                                    MR
hp                                                    165.0
w_kg                                        270 to 284 W/Kg

weight                                               475.0   \
torque                                               29.0
brand                                                 Honda
model                                              N360 '67
car_type                                             Street
img_url   https://www.kudosprime.com/gt6/images/cars/gt6...
price                                               36000.0
drive                                                    FF
hp                                                     31.0
w_kg                                           48 to ? W/Kg

weight                                                       \
torque                                               310.0
brand                                             DeltaWing
model                    sponsored by Nissan at LeMans 2012
car_type                                               Race
img_url   https://www.kudosprime.com/gt6/images/cars/gt6...
price                                             2000000.0
drive                                                    MR
hp                                                    300.0
w_kg                                          472 to ? W/Kg

weight                                               495.0   \
torque                                               30.0
brand                                               Citroën
model                                        2CV Type A '54
car_type                                             Street
img_url   https://www.kudosprime.com/gt6/images/cars/gt6...
price                                               21000.0
drive                                                    FF
hp                                                     12.0
w_kg                                         18 to 101 W/Kg

weight                                               510.0   \
torque                                               29.0
brand                                                 Honda
model                                             Z ACT '70
car_type                                             Street
img_url   https://www.kudosprime.com/gt6/images/cars/gt6...
price                                               15800.0
drive                                                    FF
hp                                                     31.0
w_kg                                           45 to ? W/Kg

weight                                               520.0   ...  \
torque                                               30.0    ...
brand                                                  Fiat  ...
model                                             500 F '68  ...
car_type                                             Street  ...
img_url   https://www.kudosprime.com/gt6/images/cars/gt6...  ...
price                                               20770.0  ...
drive                                                    RR  ...
hp                                                     18.0  ...
w_kg                                           25 to ? W/Kg  ...

weight                                               2025.0  \
torque                                               650.0
brand                                                  Audi
model                                        RS 6 Avant '08
car_type                                             Street
img_url   https://www.kudosprime.com/gt6/images/cars/gt6...
price                                              166000.0
drive                                                   4WD
hp                                                    572.0
w_kg                                        211 to 524 W/Kg

weight                                                       \
torque                                               800.0
brand                                         Mercedes-Benz
model                                     SL 600 (R230) '04
car_type                                             Street
img_url   https://www.kudosprime.com/gt6/images/cars/gt6...
price                                              177700.0
drive                                                    FR
hp                                                    493.0
w_kg                                          182 to ? W/Kg

weight                                               2028.0  \
torque                                               1000.0
brand                                         Mercedes-Benz
model                                  SL 65 AMG (R230) '04
car_type                                             Street
img_url   https://www.kudosprime.com/gt6/images/cars/gt6...
price                                              190700.0
drive                                                    FR
hp                                                    603.0
w_kg                                          222 to ? W/Kg

weight                                               2029.0  \
torque                                               570.0
brand                                         Mercedes-Benz
model                                     SL 600 (R129) '98
car_type                                             Street
img_url   https://www.kudosprime.com/gt6/images/cars/gt6...
price                                              210270.0
drive                                                    FR
hp                                                    388.0
w_kg                                          143 to ? W/Kg

weight                                               2132.0  \
torque                                               610.0
brand                                                  Ford
model                               SVT F-150 Lightning '03
car_type                                             Street
img_url   https://www.kudosprime.com/gt6/images/cars/gt6...
price                                               35050.0
drive                                                    FR
hp                                                    380.0
w_kg                                          133 to ? W/Kg

weight                                               2248.0  \
torque                                               440.0
brand                                             Chevrolet
model                                               SSR '03
car_type                                             Street
img_url   https://www.kudosprime.com/gt6/images/cars/gt6...
price                                               44560.0
drive                                                    FR
hp                                                    290.0
w_kg                                           96 to ? W/Kg

weight                                               2268.0  \
torque                                               644.0
brand                                             Chevrolet
model                                     Silverado SST '02
car_type                                             Street
img_url   https://www.kudosprime.com/gt6/images/cars/gt6...
price                                               95000.0
drive                                                    FR
hp                                                    480.0
w_kg                                          158 to ? W/Kg

weight                                               2390.0  \
torque                                               508.0
brand                                                   Ram
model                        1500 LARAMIE Hemi Quad Cab '04
car_type                                             Street
img_url   https://www.kudosprime.com/gt6/images/cars/gt6...
price                                               37930.0
drive                                                   4WD
hp                                                    345.0
w_kg                                          108 to ? W/Kg

weight                                               2404.0  \
torque                                               1300.0
brand                                                Fisker
model                                    Karma EcoSport '12
car_type                                             Street
img_url   https://www.kudosprime.com/gt6/images/cars/gt6...
price                                              138000.0
drive                                                    RR
hp                                                    386.0
w_kg                                        120 to 166 W/Kg

weight                                               3500.0
torque                                               2033.0
brand                                              Jay leno
model                                          Tank Car '03
car_type                                             Street
img_url   https://www.kudosprime.com/gt6/images/cars/gt6...
price                                             1900000.0
drive                                                    FR
hp                                                    861.0
w_kg                                        183 to 199 W/Kg

[8 rows x 766 columns]

11 Удалить один из уровней индекса или добавить новый уровень индекса (можно инициализированный константой)

In [118]:
gran_turismo_new_7 = gran_turismo_new_6.copy()
gran_turismo_new_7.reset_index(level=1, inplace=False)

,torque,brand,model,car_type,img_url,price,drive,hp,w_kg
weight,,,,,,,,,
63.0,12.0,Ayrton Senna,DAP Racing Kart #17 '80,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,100000.0,MR,30.0,349 to 349 W/Kg
369.0,122.0,Caterham,Seven Fireblade '02,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,60000.0,FR,138.0,279 to 552 W/Kg
385.0,29.0,Subaru,360 '58,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,36000.0,RR,15.0,29 to ? W/Kg
390.0,118.0,Light Car Company,Rocket '07,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,100000.0,MR,167.0,318 to 674 W/Kg
455.0,216.0,Ayrton Senna,"West Surrey Racing, 1983 Ayrton Senna",Race,https://www.kudosprime.com/gt6/images/cars/gt6...,1000000.0,MR,165.0,270 to 284 W/Kg
...,...,...,...,...,...,...,...,...,...
2248.0,440.0,Chevrolet,SSR '03,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,44560.0,FR,290.0,96 to ? W/Kg
2268.0,644.0,Chevrolet,Silverado SST '02,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,95000.0,FR,480.0,158 to ? W/Kg
2390.0,508.0,Ram,1500 LARAMIE Hemi Quad Cab '04,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,37930.0,4WD,345.0,108 to ? W/Kg
2404.0,1300.0,Fisker,Karma EcoSport '12,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,138000.0,RR,386.0,120 to 166 W/Kg
3500.0,2033.0,Jay leno,Tank Car '03,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,1900000.0,FR,861.0,183 to 199 W/Kg

12 Продемонстировать работу .merge

In [119]:
df_left = gran_turismo_price.iloc[:, :len(gran_turismo_price.keys())//2]
df_right = gran_turismo_price.iloc[:, len(gran_turismo_price.keys())//2+1:]

In [120]:
df_left

,brand,model,car_type,img_url,price
0,Daihatsu,Midget II D type '98,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,5740.0
1,Honda,TODAY G '85,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,6700.0
2,Honda,LIFE STEP VAN '72,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,8800.0
3,Mitsubishi,MIRAGE 1400GLX '78,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,9220.0
4,Honda,CIVIC 1500 3door CX '79,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,9570.0
...,...,...,...,...,...
1026,Ford,Mark IV Race Car '67,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0
1027,Ferrari,330 P4 '67,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0
1028,Jaguar,XJ13 Chrome Line,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0
1029,Ford,GT40 Race Car '69,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0
1030,Jaguar,XJ13 '66,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0

In [121]:
pd.merge(df_left, df_right,left_index=True, right_index=True)

,brand,model,car_type,img_url,price,hp,weight,torque,w_kg
0,Daihatsu,Midget II D type '98,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,5740.0,31.0,570.0,50.0,40 to 192 W/Kg
1,Honda,TODAY G '85,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,6700.0,31.0,550.0,43.0,42 to ? W/Kg
2,Honda,LIFE STEP VAN '72,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,8800.0,30.0,605.0,28.0,36 to ? W/Kg
3,Mitsubishi,MIRAGE 1400GLX '78,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,9220.0,78.0,795.0,119.0,73 to ? W/Kg
4,Honda,CIVIC 1500 3door CX '79,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,9570.0,84.0,780.0,121.0,81 to ? W/Kg
...,...,...,...,...,...,...,...,...,...
1026,Ford,Mark IV Race Car '67,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,489.0,1000.0,637.0,365 to ? W/Kg
1027,Ferrari,330 P4 '67,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,435.0,792.0,522.0,409 to 644 W/Kg
1028,Jaguar,XJ13 Chrome Line,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,506.0,975.0,534.0,387 to ? W/Kg
1029,Ford,GT40 Race Car '69,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,493.0,998.0,588.0,369 to ? W/Kg
1030,Jaguar,XJ13 '66,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,495.0,998.0,523.0,370 to ? W/Kg


13 Продемонстрировать работу с .concat или append

In [123]:
gt1 = gran_turismo_price.iloc[:len(gran_turismo_price)//2]
gt2 = gran_turismo_price.iloc[len(gran_turismo_price)//2+1:]

In [124]:
gt1

,brand,model,car_type,img_url,price,drive,hp,weight,torque,w_kg
0,Daihatsu,Midget II D type '98,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,5740.0,FR,31.0,570.0,50.0,40 to 192 W/Kg
1,Honda,TODAY G '85,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,6700.0,FF,31.0,550.0,43.0,42 to ? W/Kg
2,Honda,LIFE STEP VAN '72,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,8800.0,FF,30.0,605.0,28.0,36 to ? W/Kg
3,Mitsubishi,MIRAGE 1400GLX '78,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,9220.0,FF,78.0,795.0,119.0,73 to ? W/Kg
4,Honda,CIVIC 1500 3door CX '79,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,9570.0,FF,84.0,780.0,121.0,81 to ? W/Kg
...,...,...,...,...,...,...,...,...,...,...
510,Mazda,éfini RX-7 Type RZ (FD) '93,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,43500.0,FR,251.0,1240.0,294.0,152 to ? W/Kg
511,Nissan,Fairlady Z (Z34) '08,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,43750.0,FR,331.0,1530.0,365.0,161 to ? W/Kg
512,Toyota,SUPRA RZ '97,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,43900.0,FR,276.0,1510.0,451.0,136 to 579 W/Kg
513,Nissan,Fairlady Z 300ZX Version R TwinTurbo 2by2 (Z32...,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,43980.0,FR,276.0,1580.0,388.0,130 to ? W/Kg
514,Nissan,300ZX 2by2 (Z32) '98,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,43980.0,FR,276.0,1580.0,388.0,130 to ? W/Kg

In [125]:
pd.concat([gt1, gt2])

,brand,model,car_type,img_url,price,drive,hp,weight,torque,w_kg
0,Daihatsu,Midget II D type '98,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,5740.0,FR,31.0,570.0,50.0,40 to 192 W/Kg
1,Honda,TODAY G '85,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,6700.0,FF,31.0,550.0,43.0,42 to ? W/Kg
2,Honda,LIFE STEP VAN '72,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,8800.0,FF,30.0,605.0,28.0,36 to ? W/Kg
3,Mitsubishi,MIRAGE 1400GLX '78,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,9220.0,FF,78.0,795.0,119.0,73 to ? W/Kg
4,Honda,CIVIC 1500 3door CX '79,Street,https://www.kudosprime.com/gt6/images/cars/gt6...,9570.0,FF,84.0,780.0,121.0,81 to ? W/Kg
...,...,...,...,...,...,...,...,...,...,...
1026,Ford,Mark IV Race Car '67,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,MR,489.0,1000.0,637.0,365 to ? W/Kg
1027,Ferrari,330 P4 '67,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,MR,435.0,792.0,522.0,409 to 644 W/Kg
1028,Jaguar,XJ13 Chrome Line,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,MR,506.0,975.0,534.0,387 to ? W/Kg
1029,Ford,GT40 Race Car '69,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,MR,493.0,998.0,588.0,369 to ? W/Kg
1030,Jaguar,XJ13 '66,Race,https://www.kudosprime.com/gt6/images/cars/gt6...,20000000.0,MR,495.0,998.0,523.0,370 to ? W/Kg

14 Проитерировать dataframe построчно .iterrows(). Выполните что-то имеющее смысл внутри цикла

In [126]:
#Выведем из dataset_5 образование с наибольшим временем разговора
gran_turismo_new_9 = pd.DataFrame(columns=['brand','car_type'])
for i, row in gran_turismo_new_5.iterrows():
    gran_turismo_new_9.loc[gran_turismo_new_9.shape[0]] = [row.idxmax()[1], round(row.max(),2)]
gran_turismo_new_9.set_index(gran_turismo_new_5.index)

             brand    car_type
brand
AC Cars     Street   423200.00
AEM          Tuned   100000.00
Abarth      Street    28250.00
Acura       Street    54121.43
Alfa Romeo    Race  1250000.00
...            ...         ...
Toyota        Race   723411.76
Triumph     Street    17200.00
Vauxhall      Race  1125000.00
Volkswagen    Race   320833.33
Volvo       Street    31166.67

[103 rows x 2 columns]